# LLM Proxy Configuration
port: "4000"
upstreamURL: "https://xxx.com/xxx"
upstreamAPIKey: ""

# debug/info/error
logLevel: error

# Model name mappings
# Format: "local_model_name": "remote_model_name"
modelMappings:
  "claude-sonnet-4-20250514": "claude-4-sonnet"
  "claude-opus-4-1-20250805": "claude-4.1-opus"
